.mainMenu{
  background-color: rgb(233, 233, 233);
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo{
  color: rgb(2, 226, 2);
}

.navList{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 30%;
}

.navLink{
  text-decoration: none;
}