*{
  margin: 0;
  padding: 0;
}

.mainMenu{
 
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  max-height: 80px;
  border-bottom: 1px solid black;
}

.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  max-height: 80px;
}

.logo{
  color: rgb(2, 226, 2);
}

.navList{
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 30%;
}

.navLink{
  text-decoration: none;
}

.backgroundImage{
  background-image: url("../images/gardeningHeaderImage.jpg");
  background-position: center;
  height: 50vh;
  
}

.header{
  display: flex;
  background-color: rgba(85, 85, 85, 0.397);
  height: 100%;
  align-items: center;
  padding: 0rem 8rem;
}


.headerInfo, .aboutInfo{
  max-width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mainWelcome{
  color: rgb(2, 226, 2);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainWelcome h1{
  font-size: 3rem;
}

.homeButton {
  background-color: white;
  border: 1px solid rgb(2, 226, 2);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.homeButton:hover {
  background-color: rgb(2, 226, 2);
  border: 1px solid white;
}

.infoSection{
  height: auto;
  background-color: lightgray;
  display: flex;
  justify-content: space-around;
  padding: 2rem 8rem;
  gap: 5px;
}

.left{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 50%;
}

.left p{
  font-size: 1.5 rem;
  line-height: 2rem;
}

.right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infoImage{
  width: 100%;
  border-radius: 10px;
}

.aboutWelcome{
  text-align: center;
}

.aboutBgImage{
  height: 25vh;
}

.aboutInfo{
  font-size: 1 rem;
}

.aboutImage{
  margin-right: 1.5rem;
}

.itemImage{
  max-width: 250px;
  border-radius: 10px;
}

.productList{
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
}

.itemCard{
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.itemUtils{
  width: 70%;
}

.shopWrapper{
  padding: 2rem 3rem;
  height: 100vh;
}